<%= provide(:title, "about") %>
<h3>portly owl : about</h3>
<p>a private investment and advisory firm focused on business and consumer technology.</p>
<p>our team has experience in investment management, operational efficiency, systems implementation, business development, and strategic planning.</p>
<p>we operate across diverse industries: insurance, asset management, agriculture, logistics, software development, pharmaceuticals, and biotechnology.</p>

<p><%= link_to 'contact', contact_path %> us for more information</p>
